/* Reactアプリの画面の見た目を一括で制御するためのファイル */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.popup-content {
  font-family: 'Hiragino Mincho Pro', 'Hiragino Mincho ProN', 'MS PMincho', 'MS Mincho', serif;
  background: linear-gradient(145deg, #555, #2a2a2a); /* より明るいグレーのグラデーション */
  color: #828282; /* テキストカラーを白に */
  border-radius: 8px; /* 角の丸み */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* より強い影 */
  padding: 5px; /* 内側の余白 */
  max-width: 300px; /* ポップアップの最大幅 */
}

.popup-content h2 {
  color: #e6e4e4; /* タイトルの色 */
  font-size: x-large;
  margin: 0 0 10px 0; /* 下の余白 */
}

.popup-content h4 {
  color: #a8a8a8; /* 説明文の色 */
  font-size: large;
  margin: 0 0 15px 0; /* 下の余白 */
}

.popup-content img {
  display: block; /* 画像の表示 */
  margin: 0 auto 15px; /* 下の余白と中央揃え */
  border-radius: 4px; /* 画像の角の丸み */
}

